/* ---------- Root Variable ---------- */
:root{
    --primary-color: #00ff34;
    --secondary-color:#1a1919;
    --another-color-first:#131b2b;
    --another-color-second:#d7d7d7;
}
/* Navigation Bar */
.navBar{
    padding: 0 60px;
}
.navBar ol{
    display: none;
}
.navBar ol.active{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    flex-direction: column;
    top: 60px;
    left: 0;
    height: calc(100% - 60px);
    width: 100%;
    background: var(--secondary-color);
}

.navBar ol.active li{
    margin: 8px;
}
.navBar ol.active li a{
    font-size: 30px;
}

.navBar .toggle{
    background: url(/image/menubar.jpg);
    height: 25px;
    width: 25px;
    margin: auto 0;
    cursor: pointer;
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
    filter: invert(1);
    transition: all 0.2s ease-in-out 0s;
}
.navBar .toggle.active{
    background: url(/image/close.png);
    filter: invert(1);
    background-size: 40px;
    background-position: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out 0s;
}

/* Home Section */
.highLights h3{
    font-size: 5vw;
    padding: 5px 10px;
    border-left: 3px solid var(--primary-color);
}
.highLights h1{
    font-size: 16vw;
}
.highLights .join{
    font-size: 3vw;
}

/* Common style for all section */
.main h2{
    font-size: 1.5rem;
}
.main h6{
    font-size: 10px;
}

/* About Section */
.about .content{
    flex-direction: column;
}

/* Diet Section */
.diet .content .row{
    flex-direction: column;
}
.diet .content .row .cols{
    width: 100%;
}
.diet .content .row:nth-child(odd) .a{
    order: 0;
}
.diet .content .row .cols .heading{
    font-size: 1.5em;
}
.diet .content .row .cols p{
    font-size: 13px;
}